body {
    display: flex;
    min-height: 175vh;
    font-family: Arial, sans-serif;
    background-image: url('T5.jpg');
    background-size: cover;  /* Makes the image cover the entire screen */
    background-position: center center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    color:rgb(215, 213, 248);
}

header {
    top: 0;
    left: 0;
    display: flex;
    font-size: 2rem;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    padding: 20px;
    position: absolute;
}

.typing-container {
    font-size: 2rem;
    position: absolute;
}

#typed-text {
    display: inline-block;
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
    overflow: hidden;
}


nav ul {
    display: flex;
    position: relative;
    top: 5px;
    left: 100% ;
    list-style: none;
}

nav ul li {
    display:inline-block;
    margin: 0 15px;
}

nav ul li c {
    font-family: "Silkscreen", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    color: #ffffff;
}

main {
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

button {
    align-self: center;
    background: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005bb5;
}

